<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<ul>
  <li><%= link_to 'Delete Person', @person, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <li id="backLink">Back</li>
</ul>