<h1>New Person</h1>

<%= render 'form', person: @person %>

<p>Having trouble coming up with a bio? Click the button below to get a random quote of the day!</p>
<button id="quoteButton">Get quote</button>
<p id="quote"></p>

<ul>
  <li id="backLink">Back</li>
</ul>

<%= javascript_pack_tag 'quote' %>